
/* Board Monitor */

.board-monitor {
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
}

.pin {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 8px;
    margin-right: 0px;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
    border-radius: 8px;
    border: 2px solid #73AD21;
    text-align: right;
}

.pin.analog {
    border: 2px solid #0062ad;
}

.pin-label {
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.pin-mode {
    display: inline-block;
    vertical-align: middle;
    float: none;
    direction: rtl;
}

.pin-value {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
