.portList {
  border-width: 1px;
  border-radius: 20px;
}

.portPane {
  border-radius: 4px;
  background-color: #14a5ed;
  margin: 4px;
}

.portName {
  background-color: #408bce;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
